@font-face {font-family: 'YoungSerif'; src: url('YoungSerif-Regular.ttf');} 
@font-face {font-family: 'Outfit'; src: url('Outfit-VariableFont_wght.ttf');}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #FAF3EC;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container {
    background-color: white;
    width: 500px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}
h1, .section-title {
    font-family: 'YoungSerif', serif;
    color: hsl(30, 10%, 34%);
    margin-bottom: 10px;
}
h1 {
    font-size: 28px;
}
.section-title {
    font-size: 20px;
    color: hsl(14, 45%, 36%);
}
p {
    font-family: 'Outfit', sans-serif;
    color: hsl(24, 5%, 18%);
    line-height: 1.6;
}
.intro-text {
    color: hsl(30, 10%, 34%);
    margin-bottom: 20px;
}
.preparation-time {
    background-color: #FCEFF5;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    color: hsl(332, 51%, 32%);
}
.preparation-time ul {
    list-style: none;
    padding: 0;
    color: hsl(332, 51%, 32%);
    line-height: 1.5;
}
.instructions, .ingredients, .nutrition {
    margin-top: 25px;
}
ol, ul {
    padding-left: 20px;
}
ol li::marker {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    font-size: 18px;
}
.instructions ol li {
    margin-bottom: 15px;
}
.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.nutrition-table td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: hsl(14, 45%, 36%);
}
.nutrition-table td:first-child {
    font-weight: normal;
}
.nutrition-table tr:last-child td {
    border-bottom: none;
}
.highlight {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
